@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100;300;400;600;700;800&display=swap');
:root {
    --font-family: 'Anek Devanagari', sans-serif;
    --bg: #277BC0;
    --primary-color: #FFB200;
    --secondary-color: #FFCB42;
}

.corpo {
    align-items: center;
    background-color: var(--bg);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.corpo__titulo {
    font-size: 5rem;
    font-weight: 700;
    margin: 5% 0;
}

.corpo__dica {
    font-size: 2rem;
    margin: 2% 0;
}

.corpo__caixa {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.caixa__numero {
    border: var(--secondary-color) 2px solid;
    display: inline-block;
    font-size: 5rem;
    padding: 10px;
    margin: 10px;
}

.icone {
    padding: 0 30px;
}

@media screen and (max-width: 400px) {
    .corpo {
        justify-content: flex-start;
    }
    .corpo__titulo {
        font-size: 1.5rem;
    }
    .corpo__dica {
        font-size: 1rem;
    }
    .icone {
        padding: 0 10px;
    }
}